/sesion02_pc01/pc01/practica01/nbproject/private/
/sesion02_pc01/pc01/practica01/build/
/sesion03/recursos/PrototipoInkaBankV1/nbproject/private/
/sesion03/recursos/WebInkaBankV1/nbproject/private/
/sesion03/recursos/s04_ejemplo01/nbproject/private/
/sesion03/recursos/s04_ejemplo02/nbproject/private/
/sesion03/recursos/s04_ejemplo03/nbproject/private/
/sesion03/recursos/s05_ejemplo01/nbproject/private/
/sesion03/recursos/PrototipoInkaBankV1/build/
/sesion03/recursos/s04_ejemplo01/build/
/sesion03/recursos/s04_ejemplo03/build/
/sesion03/recursos/s05_ejemplo01/build/
/sesion03/recursos/WebInkaBankV1/build/
/sesion03/clase/s03_ejemplo02/nbproject/private/
/sesion03/clase/s03_ejemplo02/build/
/sesion03/clase/s03_ejemplo02/dist/
/sesion03/clase/s07_ejemplo01/dist/
/sesion03/clase/s07_ejemplo02/dist/
/sesion04/parcial/parcial/nbproject/private/
/sesion04/parcial/parcial/build/
/sesion05/clase/s05_ejemplo01/nbproject/private/
/sesion05/recursos/s09_ejemplo02/build/