@charset "utf-8";
/* CSS Document */

h1 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	color: #6666ff;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #0080FF;
	font-weight: normal;
}
h2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000033;
}
h3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000033;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
   color: #000066;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #008080;
}
th {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #70B8B8;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.boton {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #0080C0;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.combo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ccccff;
	background-color: #BEBEBE;
	border: thin solid #808080;
	width: 180px;
}
.tablaTitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ccccff;
	background-color: #74BABA;
	border: 1px solid #408080;
}
.tablaDato {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ccccff;
	background-color: #B7DBDB;
	border: 1px solid #408080;
}
.campoEditar {
	font-family: Arial, Helvetica, sans-serif;
	color: #6666ff;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-color: #004000;
	border-right-color: #004000;
	border-bottom-color: #004000;
	border-left-color: #004000;
}
.campoMostrar {
	font-family: Arial, Helvetica, sans-serif;
	color: #808080;
	margin: 0px;
	background-color: #DCEDED;
	border: 0px none #FFFFFF;
}
.mensaje {
	background-color: #FFFFFF;
	border: 1px solid #74BABA;
   color: #666666;
}
.error {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #660000;
	width: 500px;
}
.resultado {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #9999ff;
	background-color: #DCEDED;
	width: 200px;
}
